<div class="row">
  <div class="col-lg-12">
    <div class="p-b-10">
      <div class="d-flex align-items-center justify-content-between w-100">
        <mat-card-title>Solicitações de Comandas</mat-card-title>
      </div>
    </div>
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="table-responsive">
          <table mat-table [dataSource]="solicitacoes" class="w-100 text-center">
            <!-- Profile Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
                Nome do Cliente
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <span><span class="f-w-600 f-s-14">{{ element.nome }}</span></span>
              </td>
            </ng-container>

            <!-- Hour Rate Column -->
            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
                Número da Comanda
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <span><span class="f-w-600 f-s-14">{{ element.comanda.numero }}</span></span>
              </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
                Ações
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <button mat-fab class="shadow-none bg-success icon-48 m-r-4" (click)="aceitarSolicitacao(element)">
                  <i-tabler name="circle-check" class="text-white d-flex"></i-tabler>
                </button>
                <button mat-fab class="shadow-none bg-warning icon-48 m-l-4" (click)="recusarSolicitacao(element)">
                  <i-tabler name="square-x" class="text-white d-flex"></i-tabler>
                </button>
              </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                Nenhuma solicitação no momento.
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>