::ng-deep .icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 24px;
}


.mat-badge-medium .mat-badge-content {
  background-color: red !important;
}


.icon-notification-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 8px;
}

.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 11px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}



