<div class="row">
  <div class="col-lg-4">
    <app-card-pedidos
      [title]="'Novos Pedidos'"
      [value]="pedidosSolicitados.length"
      variant="success"
      icon="clock-exclamation"
    ></app-card-pedidos>
  </div>
  <div class="col-lg-4">
    <app-card-pedidos
      [title]="'Pedidos Em Andamento'"
      [value]="pedidosEmAndamento.length"
      variant="warning"
      icon="clock-bolt"
    ></app-card-pedidos>
  </div>
  <div class="col-lg-4">
    <app-card-pedidos
      [title]="'Pedidos Finalizados'"
      [value]="pedidosFinalizados.length"
      variant="danger"
      icon="clock-check"
    ></app-card-pedidos>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <app-proximos-pedidos [pedidos]="pedidosSolicitados.concat(pedidosEmAndamento)"></app-proximos-pedidos>
  </div>
  <div class="col-lg-6">
    <app-comandas-abertas></app-comandas-abertas>
  </div>
</div>