<div class="p-b-10">
  <div class="d-flex align-items-center justify-content-between w-100">
    <mat-card-title>Comandas Abertas</mat-card-title>
  </div>
</div>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="comandasAbertas" class="w-100 text-center">
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
            Número
          </th>
          <td mat-cell *matCellDef="let comanda" class="text-center">
            <span><span class="f-w-600 f-s-14">{{ comanda.numero }}</span></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
            Nome do Cliente
          </th>
          <td mat-cell *matCellDef="let comanda" class="text-center">
            <span><span class="f-w-600 f-s-14">{{ comanda.usuario.nome }}</span></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="horaEntrada">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
            Hora da Entrada
          </th>
          <td mat-cell *matCellDef="let comanda" class="text-center">
            <span><span class="f-w-600 f-s-14">{{ comanda.dataHoraEntrada | date: 'HH:mm' }}</span></span>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
            Valor Total
          </th>
          <td mat-cell *matCellDef="let comanda" class="text-center">
            <span><span class="f-w-600 f-s-14">{{ comanda.dataHoraEntrada | date: 'HH:mm' }}</span></span>
          </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-16 text-center">
            Ações
          </th>
          <td mat-cell *matCellDef="let comanda" class="text-center">
            <button mat-fab matTooltip="Detalhar Comanda" (click)="abrirModalDetalharComanda(comanda)" class="shadow-none bg-default icon-40 m-l-4">
              <i-tabler name="search" class="text-white d-flex"></i-tabler>
            </button>
            <button mat-fab matTooltip="Fechar Comanda" (click)="fecharComanda(comanda)" class="shadow-none bg-warning icon-40 m-l-4">
              <i-tabler name="square-x" class="text-white d-flex"></i-tabler>
            </button>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            Nenhuma comanda aberta no momento.
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>